* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    /*provides the correct work of a full-screen layout*/
    height: 100%;
    /*provides the correct work of a full-screen layout*/
    margin: 0px;
    /*hides the body's scrolls*/
    /*font-family: "Source Sans Pro","Helvetica Neue",Helvetica;*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 11px;
}

td {
    border: 1px solid;
}

.Cter td {
    text-align: center;
}

.Hder {
    font-size: 17px;
    font-weight: bold;
}

.Big {
    font-size: 20px;
}

.Gray {
    background-color: gray;
}

.Yellow {
    background-color: yellow;
}

.Skin {
    background-color: #ffd480;
}

.Pink {
    background-color: #ffccff;
}

td {
    text-align: center;
}

.none_border {
    border: none;
}

.none_border_left_right {
    border-left: 0px;
    border-right: 0px;
}

.none_border_right {
    border-right: 0px;
}

.none_border_left {
    border-left: 0px;
}

.none_border_top_bottom {
    border-top: 0px;
    border-bottom: 0px;
}

.none_border_bottom {
    border-bottom: 0px;
}

.none_border_top {
    border-top: 0px;
}

.border_right {
    border-right: 1px solid;
}

.border_top {
    border-top: 5px solid;
}

.detail_item tr td {
    font-size: 10px;
}

@media print {
    @page {
        size: A4 landscape;
    }
    body {
        zoom: 100%;
    }
}

.aleft {
    text-align: left;
}

.aright {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.pt13 {
    font-size: 13pt;
}

.pt20 {
    font-size: 20pt;
}

.pt18 {
    font-size: 18pt;
}

.pt17 {
    font-size: 18pt;
}

.pt16 {
    font-size: 18pt;
}

.pt15 {
    font-size: 15pt;
}

.pt13 {
    font-size: 13pt;
}

.pt14 {
    font-size: 14pt;
}

.pt13 {
    font-size: 13pt;
}

.pt12 {
    font-size: 12pt;
}

.pt11 {
    font-size: 11pt;
}

.pt10 {
    font-size: 10pt;
}

.pt9 {
    font-size: 9pt;
}

.pt8 {
    font-size: 8pt;
}

.pt7 {
    font-size: 7pt;
}

.pt6 {
    font-size: 6pt;
}

.new_roman {
    font-family: "Times New Roman", Times, serif;
}

td .check {
    margin-left: 5px;
    position: absolute;
    top: 2px;
}

.relative_td {
    position: relative;
}

.relative_td_special {
    padding-left: 30px!important;
}

table.padding td {
    padding-left: 3px;
}

tr.padding td {
    padding-left: 3px;
    padding-right: 3px;
}

td.padding {
    padding-left: 3px;
    padding-right: 3px;
}

.header td {
    border: 0px;
}

.vang {
    background-color: #FFFF00;
}

.xam_1 {
    background-color: #808080;
}

.xanh_1 {
    background-color: #92D050;
}

.xanh_2 {
    background-color: #D8E4BC;
}

.xanh_3 {
    background-color: #EEECE1;
}

.xanh_4 {
    background-color: #4F81BD;
}

.hong_1 {
    background-color: #E6B8B7;
}

.hong_2 {
    background-color: #F2DCDB;
}

.cam_1 {
    background-color: #FFC000;
}

h2.ship_worldon {
    color: #000;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
    /*text stroke*/
    -webkit-text-stroke: 4px rgba(0, 0, 0, .6);
    position: absolute;
    top: -450%;
    left: 30%;
}

.remark {
    float: right;
    font-weight: bold;
    color: red;
    height: 99%;
    width: 98%;
    padding-top: 7px;
    border: 0px solid;
    /* text-transform: uppercase; */
    text-align: center;
}

.remark-left {
    float: left;
    width: 22%;
}

.remark-right {
    float: right;
    width: 77%;
    font-size: 20px;
}

.remark-rbo {
    padding-top: 10px;
    left: 350px;
    font-size: 35px;
    background-color: #e6ffe6;
    height: 50%;
    border: 1px solid;
}

.remark-sample {
    padding-top: 2px;
    left: 350px;
    font-size: 32px;
    background-color: #e6ffe6;
    height: 38px;
    border: 1px solid;
}

.remark-trimcard {
    padding-top: 2px;
    left: 350px;
    font-size: 20px;
    background-color: #e6ffe6;
    height: 30px;
    border: 1px solid;
}

.remark-ipps {
    padding-top: 1px;
    left: 350px;
    font-size: 23px;
    background-color: #e6ffe6;
    height: 50px;
    border: 1px solid;
}

.remark-right-detail {
    /* left: 600px; */
    min-height: 35px;
    background-color: #e6ffe6;
    border: 1px solid;
    padding: 5px;
}

.remark-item {
    /* left: 600px; */
    min-height: 40px;
    background-color: #e6ffe6;
    border: 1px solid;
    padding: 10px 5px 5px 5px;
}

.remark-packing-instr {
    /* left: 600px; */
    min-height: 40px;
    background-color: #e6ffe6;
    border: 1px solid;
    padding: 10px 5px 5px 5px;
}